<mat-card>
    <mat-card-header>
        <div mat-card-avatar >
            <mat-card-title  >kiprotich</mat-card-title>
            <mat-card-subtitle>robert</mat-card-subtitle>
        </div>
    </mat-card-header>
    <img mat-card-image src="/assets/img/robby.jpg">
    <mat-card-content>
        <p>i am just a new angular developer</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="prmary">LIKE</button>
        <button mat-button color="prmary">DELETE</button>
        <div class="flex-spacer"></div>
        <button mat-icon-button>
            <mat-icon>publish</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>